.nope {
	&__camel {
	color: #000;
	}
}

body {
	background: #FEE66D;
}

table {
	background: #E4CD55;
}

.svgFace {
  height: 100px;
  width: 200px;
}

.tablezoom {
	color: #000;
}

.todos {
		
	&__checkbox {

	}

	&__task {

		&--isCompleted {
			text-decoration: line-through;
		}

	}

}